<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <? var data = GetSummaryData();
      if (data.IsVotingOpen) { ?>
        Voting is <b>open</b>. <?= data.NumberOfResponses ?> responses collected so far.
    <? } else { ?>
      Voting is <b>closed</b>. <?= data.NumberOfResponses ?> responses collected so far.
    <? } ?>

    <h1>Categories</h1>
    <? for (var i in data.Categories) { ?>
      <div><?= i ?></div>
    <? } ?>

    <h1>Entries</h1>







    <input type="button" value="Close"
        onclick="google.script.host.close()" />
  </body>
</html>
