<script type="text/javascript">
  /** Helper functions **/
  function CFD$_showErrorMessage(error, source) {
    alert("An Error Occurred: " + error);
    console.error("An error occurred in module ClosedFormDisplay at " + source + ": " + error);
    return;
  }

  /** AngularJS **/
  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope) {
    /** Helpers **/
    $scope.onAsyncCallFail = function(err,caller) {
      $scope.isLoading = false;
      $scope.$apply();
      CFD$_showErrorMessage(err,caller);
    };

    $scope.onDataLoaded = function(data) {
      $scope.isLoading = false;
      $scope.data = data;
      $scope.master = angular.copy($scope.data);
      $scope.$apply();
      return;
    };

    /** Behavior - Load Data **/
    $scope.LoadData = function() {
      try {
        $scope.isLoading = true;
        google.script.run.withSuccessHandler(function(data) {
          $scope.onDataLoaded(data);
        }).withFailureHandler(function(err) {
          $scope.onAsyncCallFail(err,"CFD$_LoadData");
        }).CFD$_LoadData();
      } catch (err) {
        $scope.isLoading = false;
        CFD$_showErrorMessage(err, "LoadData");
      }
      return;
    };

    /** Behavior - Save Data **/
    $scope.SaveData = function() {
      try {
        $scope.isLoading = true;
        google.script.run.withSuccessHandler(function(data) {
          $scope.onDataLoaded(data);
        }).withFailureHandler(function(err) {
          $scope.onAsyncCallFail(err,"CFD$_SaveData");
        }).CFD$_SaveData($scope.data);
      } catch (err) {
        $scope.isLoading = false;
        CFD$_showErrorMessage(err, "SaveData");
      }
      return;
    };

    $scope.reset = function(myForm) {
      $scope.data = angular.copy($scope.master);
      myForm.form.markAllPristine();
      return;
    };

    $scope.LoadData();
  });
</script>
